/* DataImport.module.css */

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.dragDropSection {
    border: 1px solid #e0e0e0;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    background-color: white;
}

.dragDropBox {
    border: 2px dashed #d0d0d0;
    padding: 50px;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    background-color: #ffe5e5;
}

.iconBox {
    display: inline-block;
    font-size: 30px;
    color: #8a8a8a;
}

.errorMessage {
    color: red;
    margin: 10px 0;
}

.btn {
    margin: 5px;
}

.btnCancel {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btnClassify {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
